.input-group {
    margin-bottom: 15px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    outline: none;
}

/* error state */
.input-group.error input {
    border: 1px solid red;
}

.error {
    color: red;
    font-size: 12px;
    height: 14px;
}