* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1d1e20;
    width: 100%;
    font-family: system-ui, sans-serif;
}

/* transition */
.animate {
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 2s ease, transform 2s ease;
    will-change: transform, opacity;
}

.animate.active {
    opacity: 1;
}

.star-mobile {
    display: none;
}

img:hover {
  transform: scale(1.03);
}

section {
    width: 100%;
    padding: 30px 60px;
    position: relative;
}

.adelina {
    font-size: 250px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 250px;
    left: 110px;
    right: 0;
    bottom: 0;
    z-index: 2;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 33px;
    width: max-content;
}

.illu {
    position: absolute;
    background-color: #9a64ce;
    color: #fff;
    font-weight: 600;
    top: 380px;
    z-index: 3;
    padding: 10px 20px;
    border-radius: 50%;
    transform: rotate(18deg);
}

.palmer {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #9a64ce;
    font-size: 180px;
    position: absolute;
    right: 70px;
    bottom: 220px;
    width: max-content;
    z-index: 3;
}

section p {
    width: 420px;
    position: absolute;
    right: 145px;
    bottom: 130px;
    font-weight: 300;
    color: #fff;
    z-index: 3;
    line-height: 25px;
}

.star {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.info_bar {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    background: #fff;
    font-size: 15px;
    font-weight: 900;
    margin-top: 50px;
}

.icon-bar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

main {
    padding: 150px 60px 140px 60px;
    position: relative;
}

.draw {
    display: flex;
    font-size: 70px;
    font-weight: 800;
    color: #fff;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.draw.active {
    opacity: 1;
    transform: none;
}

.purple {
    color: #9a64ce;
}

.wow-box {
    background-color: #9a64ce;
    position: absolute;
    bottom: 10px;
    right: 150px;
    z-index: 2;
    padding: 8px 27px 12px 20px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wow {
    transform: rotate(-8deg);
    line-height: 16px;
}

.really {
    transform: rotate(-8deg);
    line-height: 16px;
    margin-left: 22px;
}

h2 {
    font-size: 30px;
    font-weight: 1000;
    color: #fff;
    margin-top: 20px;
    font-family: 'Audiowide', sans-serif;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #fff;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.cloud h2 {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    margin-top: 20px;
    margin-left: 120px;
}

.cloud h4 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-left: 120px;
}


.first-box {
    display: flex;
    gap: 120px;
    padding: 140px 0 50px 0;
}

.shoes {
    position: relative;
}

.growing {
    margin-top: 70px;
}

.star2 {
    position: absolute;
    right: -60px;
    top: 50px;
}

.second-box {
    display: flex;
    gap: 175px;
}

.white_shoe {
    position: relative;
}

.lady_hand {
    position: relative;
    margin-top: 240px;
}

.star3 {
    position: absolute;
    top: 25px;
    right: -65px;
}

.star4 {
    position: absolute;
    top: -48px;
    right: 50px;
}

.third-box {
    display: flex;
    gap: 0px;
}

.cloud {
    position: relative;
    z-index: 4;
}

.top {
    position: relative;
    z-index: 9;
    margin: 400px -82px 0 30px;
}

.villen {
    margin: 370px 0 0 250px;
}

.star5 {
    position: absolute;
    top: -42px;
    right: 40px;
}

.star6 {
    position: absolute;
    top: -16px;
    right: 22px;
}

.star7 {
    position: absolute;
    left: 60px;
}

.purple_box {
    display: flex;
    justify-content: space-between;
    background: #9a64ce;
    padding: 110px 60px;
}

.head-para {
    width: 388px;
}

.head-para h2 {
    font-size: 70px;
    font-weight: 800;
    color: #fff;
    line-height: 90px;
}

.black {
    color: #000;
    -webkit-text-stroke: 1px black;
}

.head-para p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 30px;
    max-width: 310px;
}

.edu-exe {
    display: flex;
    gap: 100px;
}

.education {
    width: 220px;
}

.para {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.para p {
    line-height: 23px;
    font-size: 15px;
}

.exeperince {
    width: 208px;
}

.education h2,
.exeperince h2 {
    font-size: 30px;
    font-weight: 800;
    color: #000;
    margin-bottom: 30px;
    -webkit-text-stroke: 1px black;
}

.very {
    background: #000;
    padding: 15px 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-radius: 50%;
    transform: rotate(-5deg);
    margin-top: 10px;
}

.black-box {
    padding: 110px 60px 130px 60px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.skill-box {
    display: flex;
    align-items: center;
    font-size: 70px;
    font-weight: 800;
    color: #fff;
    justify-content: space-evenly;
}

.skill-text {
    display: flex;
    gap: 15px;
}

.some {
    color: #9a64ce;
}

.app-box {
    display: flex;
    gap: 140px;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}

.app-img {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

strong {
    display: flex;
    justify-content: center;
}

.login-box {
    background: #fff;
    padding: 120px 60px 140px 60px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.stuff {
    font-size: 70px;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    align-items: center;
    line-height: 90px;
}

.sodo2 {
    display: none;
}

.plz {
    background: #9a64ce;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 800;
    width: 136px;
    height: 57px;
    padding: 7px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 260px;
    margin-bottom: -75px;
}

.pls {
    transform: rotate(-8deg);
    line-height: 16px;
}

.you {
    transform: rotate(-8deg);
    line-height: 16px;
    margin-left: 20px;
}

.stuff p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 20px;
    max-width: 300px;
}

.input-box {
    width: 55%;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

label {
    margin: 30px 0 5px;
    font-size: 15px;
}

input,
textarea {
    padding: 19px 12px;
    border: none;
    background: #f1f1f1;
    font-size: 14px;
}

textarea:focus,
input:focus {
    border: none;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #d7d7d7;
}

textarea {
    height: 96px;
    resize: none;
}

button {
    background: #9a64ce;
    padding: 16px 42px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

button:hover {
    background: #9a58ce;
}

.input-error {
    border: 1px solid #EC4C4C;
}

.error-text {
    color: #EC4C4C;
    font-size: 13px;
    font-weight: 100;
    margin-top: 5px;
}

.footer {
    padding: 35px 60px;
    background-color: #9a64ce;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    color: #000;
}

.app-icon {
    display: flex;
    gap: 33px;
    font-size: 18px;
    font-weight: 700;
}

.fa-brands {
    cursor: pointer;
    color: #000;
}

.fa-brands:hover {
    color: rgb(70, 67, 67);
}


/* ===============================
   GLOBAL FIX
================================*/
html,
body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}


/* ===============================
   TABLET
================================*/
@media (max-width:992px) {

    /* CENTER TEXT */
    h2,
    h4,
    p {
        text-align: start;
    }

    section {
        text-align: center;
    }

    section p {
        position: static;
        margin: 20px auto 40px;
        width: 100%;
        padding: 0 65px;
    }

    .star-mobile{
        display: none;
    }

    .adelina,
    .palmer {
        position: static;
        margin: auto;
        text-align: center;
    }

    .illu {
        top: 325px;
        transform: rotate(12deg);
    }

    .draw {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 0;
    }

    .first-box,
    .second-box,
    .third-box {
        display: block;
        padding: 10px 0;
    }

    .purple_box {
        flex-direction: column;
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;
        gap: 60px;
    }

    .edu-exe {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .login-box {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .stuff {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .input-box {
        width: 100%;
    }

    .info_bar {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 50px 35px;
        gap: 20px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}


/* ===============================
   MOBILE
================================*/
@media (max-width:768px) {

    .adelina {
        font-size: 60px;
        letter-spacing: 2px;
    }

    .palmer {
        font-size: 55px;
        margin-top: -36px;
    }

    main {
        padding: 80px 60px;
    }

    .third-box {
        display: flex;
        flex-direction: column;
    }

    .top {
        order: 2;
    }

    .cloud {
        order: 3;
    }

    .villen {
        order: 1;
    }

    .star-mobile {
        display: none;
    }

    .draw {
        font-size: 40px;
    }

    .growing {
        margin: 0;
    }

    h2 {
        margin-top: 5px;
    }

    .skill-box {
        flex-direction: column;
        font-size: 40px;
        text-align: center;
        gap: 20px;
    }

    .app-box {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        text-align: center;
    }

    .draw {
        font-size: 30px;
    }

    .purple {
        margin: 0 10px;
    }

    .wow-box {
        position: static;
        margin: 20px 0px 20px 10px;
        width: 90px;
        font-size: 12px;
    }

    .wow {
        line-height: 9px;
        margin-left: -18px;
    }

    .really {
        margin: 0 0 0 2px;
        line-height: 9px;
    }

    /* overflow creating stars hide */
    .star2,
    .star3,
    .star4,
    .star5,
    .star6,
    .star-mobile {
        position: inherit;
        top: 0px;
        left: 0;
        width: 30px;
        height: 30px;
        margin: 50px 0 10px 0;
    }

    .star7 {
        display: none;
    }

    .star {
        position: static;
        width: 30px;
        justify-self: center;
    }

    .white_shoe {
        order: 1;
    }

    .lady_hand {
        margin: 0px;
        order: 2;
    }

    .first-box {
        padding: 0;
    }

    .second-box {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0;
    }

    .third-box {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .cloud {
        order: 1;
    }

    .last-box {
        padding: 0;
    }

    .top {
        margin: 0;
    }

    .villen {
        margin: 0;
    }

    .cloud h2 {
        margin: 0;
        font-size: 22px;
    }

    .cloud h4 {
        margin: 0;
        font-size: 14px;
    }

    .head-para,
    .edu-exe {
        width: 100%;
        align-items: start;
    }
}


/* ===============================
   SMALL MOBILE
================================*/
@media (max-width:480px) {

    .logo {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 22px;
    }

    h4 {
        font-size: 14px;
    }

      .star2,
    .star3,
    .star4,
    .star5,
    .star6,
    .star-mobile {
        display: block;
        position: inherit;
        top: 0px;
        left: 0;
        width: 30px;
        height: 30px;
        margin: 50px 0 10px 0;
    }

    .purple_box {
        padding: 60px 50px;
        gap: 40px;
    }

    .head-para h2 {
        font-size: 30px;
        line-height: 40px;
        display: block;
        width: 330px;
    }

    .head-para p {
        margin-top: 10px;
    }

    .education h2,
    .exeperince h2 {
        font-size: 24px;
        margin-bottom: 0;
    }

    .edu-exe {
        gap: 60px;
    }

    .very {
        width: 180px;
        padding: 12px 12px;
        font-size: 14px;
    }

    .black-box {
        padding: 60px 50px;
        gap: 0;
    }

    .skill-box {
        gap: 0;
    }

    .skill-text {
        font-size: 25px;
    }

    .star-black {
        width: 30px;
    }

    .app-box img {
        width: 60px;
    }

    .stuff {
        font-size: 34px;
        line-height: 45px;
    }

    section {
        padding: 10px 50px;
    }

    main {
        padding: 60px 50px;
    }

    .icon-bar {
        flex-direction: column;
    }

    .login-box {
        padding: 70px 50px 79px;
        gap: 0;
        text-align: inherit;
    }

    .stuff {
        text-align: start;
        justify-content: inherit;
    }

    .stuff p {
        width: 220px;
        margin-top: 15px;
        letter-spacing: 1px;
    }

    .plz {
        margin: 0;
        font-size: 15px;
        width: 125px;
        height: 45px;
        padding-right: 20px;
        margin-bottom: 15px;
    }

    .footer {
        padding: 50px 50px 70px;
        gap: 30px;
    }

    .app-icon {
        flex-direction: column;
        gap: 20px;
        width: 275px;
        line-height: 25px;
    }

    .icons {
        gap: 35px;
    }

    .wow-box {
        width: 91px;
        height: 37px;
        font-size: 13px;
        margin: 0;
    }

    .wow {
        line-height: 10px;
        margin-left: -20px;
    }

    .really {
        line-height: 10px;
        margin-left: 6px;
    }

    .sodo {
        display: none;
    }

    .sodo2 {
        display: block;
    }

    .icon-bar {
        padding: 0 40px;
    }

    .draw {
        line-height: 40px;
        font-size: 33px;
        padding: 0 40px;
        margin-bottom: 50px;
    }

    .purple {
        margin-left: 10px;
    }
}