* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #1d1e20;
    width: 100%;
}

/* transition */
.animate {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s ease;
    will-change: transform, opacity;
}

.animate.active {
    opacity: 1;
    transform: none;
}

section {
    width: 100%;
    padding: 30px 60px;
    position: relative;
}

.adelina {
    font-size: 250px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 250px;
    left: 110px;
    right: 0;
    bottom: 0;
    z-index: 2;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 33px;
    width: max-content;
}

.illu {
    position: absolute;
    background-color: #9a64ce;
    color: #fff;
    font-weight: 600;
    top: 380px;
    z-index: 3;
    padding: 10px 20px;
    border-radius: 50%;
    transform: rotate(18deg);
}

.palmer {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #9a64ce;
    font-size: 180px;
    position: absolute;
    right: 70px;
    bottom: 220px;
    width: max-content;
    z-index: 3;
}

section p {
    width: 420px;
    position: absolute;
    right: 145px;
    bottom: 130px;
    font-weight: 300;
    color: #fff;
    z-index: 3;
    line-height: 25px;
}

.star {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.info_bar {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    background: #fff;
    font-size: 15px;
    font-weight: 900;
    margin-top: 50px;
}

.icon-bar {
    display: flex;
    gap: 20px;
}

main {
    padding: 150px 60px 140px 60px;
    position: relative;
}

.draw {
    display: flex;
    font-size: 70px;
    font-weight: 800;
    color: #fff;
    gap: 20px;
    justify-content: center;
}

.draw.active {
    opacity: 1;
    transform: none;
}

.purple {
    color: #9a64ce;
}

.wow-box {
    background-color: #9a64ce;
    position: absolute;
    bottom: 10px;
    right: 150px;
    z-index: 2;
    padding: 8px 27px 12px 20px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wow {
    transform: rotate(-8deg);
    line-height: 16px;
}

.really {
    transform: rotate(-8deg);
    line-height: 16px;
    margin-left: 22px;
}

h2 {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    margin-top: 20px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.cloud h2 {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    margin-top: 20px;
    margin-left: 120px;
}

.cloud h4 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-left: 120px;
}


.first-box {
    display: flex;
    gap: 120px;
    padding: 140px 0 50px 0;
}

.shoes {
    position: relative;
}

.growing {
    margin-top: 70px;
}

.star2 {
    position: absolute;
    right: -60px;
    top: 50px;
}

.second-box {
    display: flex;
    gap: 175px;
}

.white_shoe {
    position: relative;
}

.lady_hand {
    position: relative;
    margin-top: 240px;
}

.star3 {
    position: absolute;
    top: 25px;
    right: -65px;
}

.star4 {
    position: absolute;
    top: -48px;
    right: 50px;
}

.third-box {
    display: flex;
    gap: 0px;
}

.cloud {
    position: relative;
    z-index: 4;
}

.top {
    position: relative;
    z-index: 9;
    margin: 400px -82px 0 30px;
}

.villen {
    margin: 370px 0 0 250px;
}

.star5 {
    position: absolute;
    top: -42px;
    right: 40px;
}

.star6 {
    position: absolute;
    top: -16px;
    right: 22px;
}

.star7 {
    position: absolute;
    left: 60px;
}

.purple_box {
    display: flex;
    justify-content: space-between;
    background: #9a64ce;
    padding: 110px 60px;
}

.head-para {
    width: 388px;
}

.head-para h2 {
    font-size: 70px;
    font-weight: 800;
    color: #fff;
    line-height: 90px;
}

.black {
    color: #000;
}

.head-para p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 30px;
    max-width: 310px;
}

.edu-exe {
    display: flex;
    gap: 100px;
}

.education {
    width: 220px;
}

.para {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.para p {
    line-height: 23px;
    font-size: 15px;
}

.exeperince {
    width: 208px;
}

.education h2,
.exeperince h2 {
    font-size: 30px;
    font-weight: 800;
    color: #000;
    margin-bottom: 30px;
}

.very {
    background: #000;
    padding: 15px 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-radius: 50%;
    transform: rotate(-5deg);
    margin-top: 10px;
}

.black-box {
    padding: 110px 60px 130px 60px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.skill-box {
    display: flex;
    align-items: center;
    font-size: 70px;
    font-weight: 800;
    color: #fff;
    justify-content: space-evenly;
}

.skill-text {
    display: flex;
    gap: 15px;
}

.some {
    color: #9a64ce;
}

.app-box {
    display: flex;
    gap: 140px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}

.app-img {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

strong {
    display: flex;
    justify-content: center;
}

.login-box {
    background: #fff;
    padding: 120px 60px 140px 60px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.stuff {
    font-size: 70px;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    align-items: center;
    line-height: 90px;
}

.plz {
    background: #9a64ce;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 800;
    width: 136px;
    height: 57px;
    padding: 7px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.pls {
    transform: rotate(-8deg);
    line-height: 16px;
}

.you {
    transform: rotate(-8deg);
    line-height: 16px;
    margin-left: 20px;
}

.stuff p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 20px;
    max-width: 300px;
}

.input-box {
    width: 55%;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

label {
  margin: 20px 0 5px;
  font-size: 15px;
}

input,
textarea {
  padding: 19px 12px;
  border: none;
  background: #f1f1f1;
  font-size: 14px;
}

textarea:focus, input:focus {
    border: none;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: #d7d7d7;
}

textarea {
  height: 96px;
  resize: none;
}

button {
    background: #9a64ce;
    padding: 16px 42px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
}

button:hover {
    background: #9a58ce;
}

.footer {
    padding: 35px 60px;
    background-color: #9a64ce;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    color: #000;
}

.app-icon {
    display: flex;
    gap: 33px;
    font-size: 18px;
    font-weight: 700;
}